/*
 * DESCRIPTION: Style Created to aid in more better
 *              reading of the articles on ALA
 *
 * URLS:        http://*.alistapart.com/* 
 *
 */

* #main {
  width: 60% !important;
  margin: auto !important;
  background-image: none !important;
  padding: 0 !important;
  float: none !important;
}
#main #articletext {
  font-size: 1.5em !important;
  font-family: Georgia !important;
}
#content.column {
  float: left !important;
  width: 100% !important;
}
#sidebar.column {
  display: none !important
}
#sidebar div:nth-child(even) {
  float:right !important;
}
#sidebar div:nth-child(odd) {
  float:left !important;
}
#content .illustration img {
  margin: auto !important;
}
.full {
  width: 100% !important;
}